@import "_variables.scss";
@import "_mixins.scss";
@import "_note.scss";
@import "_table.scss";
.info-section{
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    line-height: 1.8rem;
    border-bottom: 1px dashed #d1c9bf;
    border-left: 1px solid #d1c9bf;
    border-right: 1px solid #d1c9bf;
}

%hover-profile-img {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 4px;
    -webkit-filter:brightness(70%);
}

#profile-img:hover img{
    @extend %hover-profile-img;
}
#profile-img-addnew:hover img{
    @extend %hover-profile-img;
}